html, body {
  width: 100%;
  height: 100%;
  background: #191A1E;
  font-family: "Franchise-Bold";
  color: #fff;
  -webkit-font-smoothing: antialiased; }

/*menu*/
.menu__icon {
  display: none; }

.menu {
  position: fixed;
  bottom: 0;
  z-index: 20; }

.menu__wrapper {
  position: relative;
  width: 100%; }

.menu__list {
  display: table; }

.menu__item {
  display: table-cell;
  width: 20vw;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  letter-spacing: .3rem;
  font-size: 1.5rem;
  cursor: pointer; }

.menu__item:nth-child(odd) {
  background: #1E1F24;
  height: 3.5rem; }

.menu__item:nth-child(even) {
  background: #222328;
  height: 3rem; }

.menu__item:hover {
  opacity: .7; }

.svg_all {
  display: none; }

.section {
  width: 100%;
  height: 100%;
  position: relative; }

.section__wrapper {
  height: 100vh;
  display: table; }

.section__inner {
  width: 100%;
  height: 100vh;
  position: relative;
  height: 100%;
  display: table;
  z-index: 3; }

.stripe {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.03);
  z-index: 2; }
  .stripe:before {
    position: absolute;
    content: "+";
    color: rgba(255, 255, 255, 0.1);
    top: 20vh;
    font-size: 10.63px;
    left: -2.3px; }
  .stripe:after {
    position: absolute;
    content: "+";
    color: rgba(255, 255, 255, 0.1);
    bottom: 24vh;
    font-size: 10.63px;
    left: -2.3px; }
  .stripe--first {
    left: 20vw; }
  .stripe--second {
    left: 40vw; }
  .stripe--third {
    left: 60vw; }
  .stripe--fourth {
    left: 80vw; }

.stripe__top {
  position: absolute;
  background: #44DEAF;
  width: 55px;
  height: 5px;
  transform: rotate(-45deg);
  left: 13%;
  top: 17%; }

.stripe__bottom {
  position: absolute;
  background: #44DEAF;
  height: 13px;
  width: 2px;
  transform: rotate(-35deg);
  bottom: 19%;
  right: 18%; }

.section__header {
  display: table-row;
  height: 8rem; }

.number {
  width: 10rem;
  height: 13rem;
  overflow: hidden;
  position: absolute;
  left: 80vw; }
  .number p {
    position: absolute;
    left: -1.7rem;
    color: #E51747;
    font-size: 10rem; }

.section__title {
  position: relative;
  float: left;
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.03);
  letter-spacing: .2rem;
  margin-left: 20vw;
  padding-top: 4rem; }
  .section__title:before {
    position: absolute;
    content: '';
    display: block;
    width: 5rem;
    height: 2px;
    background: #44DEAF;
    bottom: 1rem;
    left: -3rem; }
  .section__title--color:before {
    background: #E51747; }

.section__left-side {
  display: table-cell;
  width: 40vw;
  padding-left: 20vw;
  vertical-align: middle; }

.section__right-side, .expirience {
  display: table-cell;
  width: 40vw;
  vertical-align: middle; }

.expirience {
  padding: 2rem 0 0 11vw; }

.section__home {
  overflow: hidden; }

.home__title {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100vw; }
  .home__title h1 {
    position: relative;
    color: #fff;
    font-size: 6.5rem;
    letter-spacing: 1.5rem;
    z-index: 2;
    max-width: 90vw;
    margin: 0 auto; }
    .home__title h1:before {
      position: absolute;
      content: '';
      display: block;
      background: #E51747;
      opacity: .07;
      width: 25px;
      height: 60vh;
      transform: rotate(45deg);
      right: 50%;
      top: -20vh;
      z-index: -1; }
    .home__title h1 .home__name {
      background: url("../images/name_bg.png") no-repeat;
      background-size: 90%;
      padding: 3rem 1rem 5rem 1rem; }
    .home__title h1 .home__surname {
      background: url("../images/surname_bg.png") no-repeat;
      background-size: 90%;
      padding: 3rem 1rem 5rem 1rem; }
  .home__title h2 {
    color: #44DEAF;
    font-size: 2.2rem;
    padding-top: 4rem; }

.about__text-wrapper {
  position: relative; }

.about__text-inner {
  padding: 2rem 0 2rem 1rem;
  position: relative;
  z-index: 2;
  font-size: 1.25rem;
  line-height: 1.2; }

.text-decorated {
  position: absolute;
  display: block;
  background-color: #44DEAF;
  z-index: 1;
  width: 10%;
  height: 100%;
  top: 0;
  left: 0; }

.expirience__item {
  margin-bottom: 1.5rem; }

.expirience__title {
  font-size: 1.87rem;
  padding-bottom: 2rem; }

.expirience__date {
  font-size: 1rem;
  color: #47474B; }

.expirience__name {
  font-size: 1.25rem;
  padding-top: .5rem; }

.skills__list {
  padding-top: 2rem; }

.skills__item {
  margin-bottom: .2rem;
  width: 100%; }

.skills__item__inner {
  padding: .5rem 0 .5rem 1rem; }

.skills__item:nth-child(odd) .skills__item__inner {
  background: #202126; }

.skills__item:nth-child(even) .skills__item__inner {
  background: #25262C; }

.html {
  width: 80%; }

.css {
  width: 70%; }

.javascript {
  width: 40%; }

.jade {
  width: 70%; }

.sass {
  width: 60%; }

.jquery {
  width: 50%; }

.gulp {
  width: 70%; }

.git {
  width: 50%; }

.other-skills {
  padding-left: 11vw; }

.skills__title {
  font-size: 1.87rem;
  padding: 2rem 0; }

.other-skills__item {
  position: relative;
  font-size: 1.25rem;
  margin: .5rem 0; }

.other-skills__item:before {
  position: absolute;
  content: '';
  display: block;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background: #44DEAF;
  left: -1rem;
  top: 20%; }

.skills__stripe__bottom {
  position: absolute;
  background: #44DEAF;
  width: 55px;
  height: 5px;
  transform: rotate(-45deg);
  position: absolute;
  background: #44DEAF;
  width: 55px;
  height: 5px;
  transform: rotate(-45deg);
  right: 20%;
  bottom: 20%; }

.slider__wrapper {
  display: table-cell;
  vertical-align: middle; }

.owl-carousel {
  width: 59vw;
  margin-left: 20vw; }

.owl-carousel .owl-item {
  margin-right: .1em;
  min-width: 20vw; }

.owl-carousel__item a {
  width: 90%;
  height: 35vh;
  display: block;
  background-size: cover;
  margin-bottom: 1rem;
  margin-top: 1rem;
  overflow: hidden; }

.owl-carousel__item a:hover {
  opacity: .5; }

.owl-carousel__item a img {
  width: auto;
  height: 100%; }

.project__date {
  color: #434447;
  font-size: 1rem; }

.project__name {
  font-size: 1.25rem; }

.project__technology {
  color: #434447;
  font-size: 1rem; }

.owl-theme .owl-controls .owl-page {
  display: block; }

.owl-theme .owl-controls {
  text-align: center;
  position: absolute;
  top: 1.2rem;
  left: -3rem; }

.owl-theme .owl-controls .owl-page span {
  background: #fff;
  opacity: 1; }

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #E51747;
  opacity: 1; }

.contacts__header {
  padding-top: 2rem;
  margin-left: -4.25rem; }

.contacts__img {
  width: 8.5rem;
  height: 8.5rem;
  display: table-cell;
  vertical-align: top; }

.contacts__img__inner {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  overflow: hidden; }

.contacts__img img {
  min-width: 100%;
  height: 100%; }

.contacts__title {
  display: table-cell;
  vertical-align: middle;
  padding-left: 2rem; }

.contacts__title span {
  display: block; }

.contacts__name {
  font-size: 1.25rem; }

.contacts__surname {
  font-size: 1.87rem; }

.contacts__city {
  color: #47474B; }

.contacts__details {
  padding-top: 2rem; }

.contacts__details p {
  font-size: 1.25rem;
  color: #47474B; }

.contacts__details a {
  font-size: 1.5rem; }

.section {
  display: none;
  top: 0;
  position: absolute; }

#home {
  display: block; }

.activ__item {
  position: relative; }

.activ__item:before {
  position: absolute;
  content: '';
  display: block;
  width: 70%;
  height: 4px;
  background: #E51747;
  top: 45%;
  margin: 0 auto;
  left: 0;
  right: 0; }
