 #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }


.container {
	width: 100%;
	height: auto;
	position: relative;
}   
.span12 {
	width: 100%;
} 

.owl-pagination { 
position: absolute;
bottom: 0;
left: 50%;
}
.owl-theme .owl-controls .owl-page span {
	width: 8px;
	height: 8px;
	background: #cbcbcb;
}