@media screen and (min-width: 299px) and (max-width:480px) {

	.title, .title-page, .portfolio-categ { padding-bottom: 30px; font-size: 25px; }
	.title, .title-page { padding-left: 34px; }
	.title:after { top: 40px; }

 	.footer_inner, .about_inner { width: 320px; overflow: hidden;}
 	.header {background: url(../pictures/pink-sky_mob.jpg) 50% 0 repeat fixed; }
 	.header_info { width: 300px;margin-top: 10%; margin-left: 0; }
 	.header_info_tite { font-size: 24px;line-height: 30px; letter-spacing: 1px;}
 	.header_info_text { font-size: 14px; padding-left: 0; }
	.social { width: 120px;margin: 0 auto;padding-left: 20px;}
	.social_network { margin-bottom: 10px;}

	.about_inner { padding-top: 30px; padding-bottom: 10px;}
	.about_info { width: 300px; margin: 0 auto; padding-top: 5px;}
	.about_info_title { padding-left: 70px; font-size: 16px;width: auto;}
	.about_info_text { padding-left: 70px; font-size: 12px;}

	.wrapper { padding-top: 30px;}
	.portfolio-area { margin-left: 65px;	width:250px;  max-width: 250px; }
	.portfolio-content { width:320px; max-width: 320px; }
	.portfolio-categ { max-width: 200px; width: 200px; margin-left: 70px; }
	.portfolio-categ li { display:list-item; }
	.cat-item-1 a, .cat-item-2 a, .cat-item-3 a, .all a{ text-decoration: underline; font-size: 12px; }
	.portfolio-categ span { display: none; }
	.portfolio-area li { margin: 0 auto!important; width: 250px; }
	.port_border { width: 255px; }
	.image-block img { width: 255px!important; height: auto; }
	.post-title-portfolio a { margin-top: 10px; }
	.post-subtitle-portfolio { padding-bottom: 10px; }

	.title_choose { width: 275px; padding-left: 40px;  font-size: 25px; }
	.choose_inner {	width: 320px; padding-top: 30px; padding-bottom: 0; }
	.advantage_wrapper { padding-top: 20px; }
	.advantage { max-width: 250px; width: 250px; margin-left: 70px; padding-bottom: 10px; }
	.advantage_title { font-size: 16px; }
	.advantage_sub { font-size: 12px; }
	.advantage_text { font-size: 12px; }
	.advantage1:before, .advantage2:before, .advantage3:before, .advantage3:before, .advantage4:before { display: none; }

	.iphone_inner { width: 320px; margin: 0; }
	.iphone_text { max-width: 300px; padding-bottom: 130px; }
	.iphone_photo { display: none; }
	.iphone_title { font-size: 24px;line-height: 30px; letter-spacing: 1px; }
	.iphone_about { font-size: 14px;word-wrap: inherit;height: auto;max-width: 300px; }

	.amount_inner { max-width: 320px;padding-top: 30px;padding-bottom: 0; }
	.amount { margin-left: 70px; margin-bottom: 10px;padding-right: 0; }
	.cups { margin-left: 52px;padding-left:100px; }
	
	.title_our { padding-left: 0; }
	.team_inner { width: 320px; padding-top: 30px; padding-bottom: 10px; }
	.team_header { width: 250px; margin-left: 70px; }
	.team_about {padding-top: 10px; padding-bottom: 10px; text-align: justify; padding-left: 10px; padding-right: 10px; }
	.all_faces {width: 250px; padding-left: 67px; }  
	.face_img img { width: 250px!important; height: auto!important; }
	.team_faces { margin-right: 0; margin-bottom: 10px; width: 250px; }
	.face_name { padding-top: 10px; }
	.fase_post { padding-bottom: 10px; }

	.video_wrapper { padding-top: 10px; margin-top: 0; }
	.logos_wrapper { display: none; }

	.skills_inner { width: 320px; padding-top: 30px; padding-bottom: 10px; }
	.skills_left { width: 320px; padding-left: 70px; padding-bottom: 10px; margin-top: 20px; }
	.skills_right { height: 250px; padding-top: 60px; margin-top: 0; }
	.skill { font-size: 12px; line-height: 16px; margin-top: 10px; margin-bottom: 10px; }

	.slider_info { max-width: 250px; top: 10%; left: 15%;}
	.slider_text { font-size: 10px; line-height: 12px; }
	.slider_name { font-size: 14px; line-height: 14px; }
	.slider_position { font-size: 10px; line-height: 12px; }

	.news_inner {  width: 320px; padding-top: 30px; padding-bottom: 10px; }
	.news_title { padding-left: 50px; width: 220px; }
	.news_title:after { left: 115px;}
	.news_about { width: 320px; padding-left: 70px; margin: 0; padding-bottom: 10px;  }
	.news { width: 320px; padding-left: 67px; margin: 0; padding-top: 30px;}
	.news_pic { width: 250px; height: auto; }
	.news_pic img { width: 250px!important; height: auto!important; }
	.news_text { margin-top: 10px; margin-bottom: 10px; }
	.news_date:before { top: 35px; }

	.send_email_inner, form { width: 320px; }
	form { padding-left: 70px; }
	.button_send { margin-left: 85px; margin-bottom: 20px; }
	.send_email_title { padding-top: 30px; margin-top: 0; font-size: 25px; padding-left: 50px; }

	.contact_inner { width: 320px; padding-top: 30px; padding-bottom: 10px; }
	.contact_bottom {width: 170px; padding-left: 50px; }
	.contact_info { width: 120px; padding-bottom: 50px; }
	.contact_address { margin: 0; width: 120px; }
	.contact_address:before { left: 37px; }

}
@media screen and (min-width: 481px) and (max-width: 767px) {
	
	.about_inner { width: 480px; overflow: hidden; padding-top: 30px; padding-bottom: 10px;}
	.about_info { width: 400px; margin: 0 auto; padding-top: 20px; }
	.about_info_title { padding-left: 70px; font-size: 16px;width: auto;}
	.about_info_text { padding-left: 70px; font-size: 14px;}

	.wrapper { padding-top: 30px;}
	.portfolio-area { margin-left: 30px;	width: 400px;  max-width: 400px; }
	.portfolio-content { width: 400px; max-width: 400px; }
	.portfolio-categ { max-width: 200px; width: 200px; /*margin-left: 70px;*/ }
	.portfolio-categ li { display:list-item; }
	.cat-item-1 a, .cat-item-2 a, .cat-item-3 a, .all a{ text-decoration: underline; font-size: 16px; }
	.portfolio-categ span { display: none; }
	.portfolio-area li { margin: 0 auto!important; width: 400px; }
	.port_border { width: 400px; }
	.image-block img { width: 400px!important; height: auto; }
	.post-title-portfolio a { margin-top: 10px; }
	.post-subtitle-portfolio { padding-bottom: 10px; }

	.title_choose { width: 275px; padding-left: 40px; }
	.choose_inner {	width: 480px; padding-top: 30px; padding-bottom: 0; }
	.advantage_wrapper { padding-top: 20px; }
	.advantage { max-width: 350px; width: 350px; margin-left: 70px; padding-bottom: 10px; }
	.advantage_title { font-size: 16px; }
	.advantage_sub { font-size: 12px; }
	.advantage_text { font-size: 12px; }
	.advantage1:before, .advantage2:before, .advantage3:before, .advantage3:before, .advantage4:before { display: none; }

	.iphone_inner { width: 480px; margin: 0; }
	.iphone_text { max-width: 400px; padding-bottom: 130px; }
	.iphone_photo { display: none; }
	.iphone_title { font-size: 24px; line-height: 30px; letter-spacing: 1px; }
	.iphone_about { font-size: 14px; word-wrap: inherit; height: auto; max-width: 300px; }

	.amount_inner { max-width: 480px; padding-top: 30px; padding-bottom: 0; }
	.amount { margin-left: 140px; margin-bottom: 10px; padding-right: 0; }
	.cups { margin-left: 120px; padding-left:100px; }

	.team_inner { width: 480px; padding-top: 30px; padding-bottom: 10px; }
	.team_header { width: 400px; margin-left: 70px; }
	.team_about {padding-top: 10px; padding-bottom: 10px; }
	.all_faces {width: 400px; padding-left: 67px; }  
	.face_img img {display: block; margin: 0 auto; }
	.team_faces { margin-right: 0; margin-bottom: 10px; width: 400px; }
	.face_name { padding-top: 10px; }
	.fase_post { padding-bottom: 10px; }

	.video_wrapper { padding-top: 10px; margin-top: 0; }
	.logos_wrapper { display: none; }

	.skills_inner { width: 480px; padding-top: 30px; padding-bottom: 10px; }
	.skills_left { width: 400px; padding-left: 70px; padding-bottom: 10px; margin-top: 20px; }
	.skills_right { height: 400px; padding-top: 70px; margin-top: 0; }

	.slider_info { max-width: 250px; top: 10%; left: 15%;}
	.slider_text { font-size: 10px; line-height: 12px; }
	.slider_name { font-size: 14px; line-height: 14px;}
	.slider_position { font-size: 10px; line-height: 12px;}

	.news_inner {  width: 480px; padding-top: 30px; padding-bottom: 10px; }
	.news_title { padding-left: 50px; width: 220px; }
	.news_title:after { left: 115px;}
	.news_about { width: 400px; padding-left: 70px; margin: 0; padding-bottom: 10px;  }
	.news { width: 400px; padding-left: 67px; margin: 0; padding-top: 30px;}
	.news_pic { width: 400px; height: auto; }
	.news_pic img { width: 400px!important; height: auto!important; }
	.news_text { margin-top: 10px; margin-bottom: 10px; }
	.news_date:before { top: 35px; }

	.send_email_inner, form { width: 400px; }
	form { padding-left: 70px; }
	.button_send { margin-left: 85px; margin-bottom: 20px; }
	.send_email_title { padding-top: 30px; margin-top: 0; }

	.contact_inner { width: 480px; padding-top: 30px; padding-bottom: 10px; }
	.contact_bottom {width: 170px; padding-left: 50px; }
	.contact_info { width: 120px; padding-bottom: 50px; }
	.contact_address { margin: 0; width: 120px; }
	.contact_address:before { left: 37px; }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

	.title { padding-bottom: 0; }
	.title:after { top: 60px; }

	.about_inner { width: 768px; padding-top: 50px; padding-bottom: 20px; }
	.about_info { width: 100%; padding-left: 100px; padding-right: 30px; }
	
	.wrapper { padding-left: 65px; padding-top: 40px; }
	.portfolio-categ { /*padding-left: 34px;*/ max-width: 632px; }
	.cat-item-1 a, .cat-item-2 a, .cat-item-3 a, .all a { font-size: 14px; }
	.portfolio-area {  /*padding-left: 65px;*/	width:600px;  max-width: 600px; }
	.portfolio-content {/*padding-left: 120px; */width:600px; max-width: 600px;  margin: 0 auto; }
	.portfolio-area li { width: 600px; display: list-item; }
	.image-block img { width: 600px!important; height: auto; }

	.choose_inner { width: 768px; padding-top: 40px; }
	.advantage_wrapper { width: 410px; padding-top: 60px; }
	.advantage { max-width: 400px; }

	.iphone_inner { width: 500px; margin-top: 0; margin-bottom: 0; padding-left: 0; margin-left: 23%; }
	.iphone_text { padding-top: 50px; padding-bottom: 50px; }
	.iphone_wrapper { padding-bottom: 50px; }
	.iphone_link { margin: 0 auto; }
	.iphone_photo { margin-left: 23%; }

	.amount_inner { width: 768px; padding-left: 70px; }
	.designers, .hours, .project { padding-right: 20px; }
	.amount_number { font-size: 14px; }
	.amount_title { font-size: 12px; }

	.team_inner { width: 768px; padding-bottom: 0; padding-top: 40px; }
	.all_faces { width: 670px; margin: 0 auto; padding-left: 70px; float: none; }

	.skills_inner { width: 768px; padding-bottom: 40px; padding-top: 40px; }
	.skills_left { width: 650px; padding-left: 180px; padding-bottom: 10px; }
	.skills_right { height: 250px; padding-top: 220px; margin-top: 0; }

	.logos_inner { width: 768px; padding-left: 80px; padding-top: 10px; padding-bottom: 10px; }
	.logos { width: auto; height: auto; padding-top: 0; border: none; margin-right: 2%; }
	.logos:last-child { margin-right: 0; }
	.logos_link_1, .logos_link_4 { margin-top: 5%; }
	.logos_link_5 { margin-top: 10%; }

	.slider_wrapper { padding-top: 40px; }
	.slider_info { max-width: 300px; }

	.news_inner { width: 768px;  padding-left: 80px; padding-top: 40px; padding-bottom: 40px; }
	.news_about { width: 500px; }
	.news { width: 620px; }
	.news_pic img, .news_pic { width: 300px; height: auto;}
	.news_right { width: 320px; padding-left: 20px; }

	.send_email_title { margin-top: 40px; }
	.button_send { margin-bottom: 40px; }

	.contact_inner { width: 768px; padding-left: 80px; padding-top: 40px; padding-bottom: 70px; }
	.contact_address { margin-right: 92px; margin-left: 92px; }
}

