@media screen and (max-width: 780px) {
	.header_info { width: 325px; max-height: 500px; padding-left: 70px;	}
	.portfolio-content, .portfolio-area { width: 400px; margin: 0 auto; }
	.portfolio-item2 { margin: 0 auto;}
	.choose_inner { width: 350px; margin: 0 auto;}
	.advantage { max-width: 350px; margin-left: 40px;	}
	.advantage1:before, .advantage2:before, .advantage3:before, .advantage4:before, .iphone_photo { display: none;}
	.about_info {float: right; padding-left: 60px; margin-right: 0;}
	.iphone_title {font-size: 30px;}
	.amount_inner{ width: 200px;}
	.amount {margin-bottom: 20px;}
	.team_faces {margin: 0 auto;}
	.team_faces:last-child { margin: 0 auto;}
	.skills_inner { width: 300px; margin: 0 auto; padding-left: 70px!important;;}
	.skills_left {width: 400px; padding:0;}
	.skills_right {padding-top: 0!important;}
	.choose_inner {padding-left: 0!important;}
	.iphone_text {padding-left: 0!important; width: 300px!important; float: right;}
	.iphone_inner {right: 5%;}
	.portfolio-area li { float: right; margin: 0;}
	.amount_inner { width: 200px!important; margin: 0 auto;}
	.logos_wrapper { display: none;}
	.news img, .skills_left_text { width: 300px;}
	.team_about { width: 300px;}
	.send_email_inner {width: 300px; padding-left: 30px;}
}
@media screen and (max-width: 1160px) {
	.about_inner { width: 340px; margin: 0 auto;}
	.portfolio-content, .portfolio-area { max-width: 770px;}
	.iphone_text {width: 600px; float: right;}
	.iphone_title {font-size: 30px;}
	.team_faces {float: none; margin: 0 auto;}
	.team_faces:last-child { margin: 0 auto;}
	.logos_inner { margin-left: 60px;}
	.logos { /*float: none;*/ margin: 0 auto;}
	.amount_inner { margin: 0 auto; width: 600px;}
	.amount { margin-bottom: 30px;}
	.choose_inner, .iphone_text, .news_inner {padding-left: 80px;}
	.news_right { float: none; margin-top: 30px;}
	.news {margin: 0 auto; width:470px; }
	.contact_bottom { width: 300px; margin: 0 auto;}
	.contact_info {float: none;display: block;} 
	.contact_address {margin-right: 0;margin-left: 0;margin-top: 50px; margin-bottom: 50px;}
	.contact_email {margin-left: 60px;}
	.contact_call {margin-left: 60px;}
	.skills_right { padding-top: 150px;}
	.skills_inner {width: 600px; margin: 0 auto; padding-left: 60px;margin-bottom: 96px;}
}