.form_data .pick_data .pick_wrapper {
	float: left;
	position: relative !important;
	width: 134px !important;
	height: 43px !important;
}

.form_data .pick_data .pick_wrapper .k-block, .k-widget{
	background-color: transparent !important;
	background: transparent !important;
}
.pick_wrapper .k-i-calendar {
	cursor: pointer !important;
	vertical-align: middle !important;
	background: url(../img/sprite.png) no-repeat 0 0 !important;
	width: 130px !important;
	height: 22px !important;
	text-indent: -999999px;
	overflow: hidden !important;
	border: 0 !important;
}
.pick_wrapper .k-widget, .k-datepicker, .k-header {
	padding-left: 0 !important;
	border: none !important;
}
.pick_wrapper .k-picker-wrap .k-select, .k-numeric-wrap .k-select, .k-dropdown-wrap .k-select {
	position: absolute !important;
	top: 6px !important;
	left: 9px !important;
	padding: 0 !important;
	border: none !important;
}
.form_data .pick_data .pick_wrapper .k-textbox, .k-autocomplete, .k-dropdown-wrap, .k-picker-wrap, .k-numeric-wrap{
	padding-right: 0 !important;
	width: 134px !important;
	height: 43px !important;
	border-radius: 0 !important;
}
.k-header, .k-grid-header, .k-toolbar, .k-dropdown-wrap, .k-picker-wrap, .k-numeric-wrap, .k-grouping-header, .k-pager-wrap, .k-textbox, .k-button, .k-progressbar, .k-draghandle, .k-autocomplete, .k-state-highlight, .k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item, .km-pane-wrapper>.km-pane>.km-view>.km-content {
	background: #fff !important;
}
.k-autocomplete, .k-combobox, .k-datepicker, .k-timepicker, .k-datetimepicker, .k-colorpicker, .k-numerictextbox, .k-dropdown, .k-selectbox, .k-textbox, .k-toolbar .k-split-button {
	width: 134px !important;
}
.k-textbox>input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input {
	margin-left: 45px !important;
	background: transparent;
	width: 89px !important;
	font-family: 'Arial' !important;
	font-size: 14px !important;
	line-height: 43px !important;
	height: 43px !important;
}
.k-textbox>input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input {
	text-indent: 0 !important;
}

.alarm-time {
	float: left;
	width: 101px !important;
	margin-left: 5px!important;
}
.time_input {
	width: 101px !important;
}
.form_data .pick_data .alarm-time .k-textbox,.form_data .pick_data .alarm-time .k-autocomplete, .form_data .pick_data .alarm-time .k-dropdown-wrap, .form_data .pick_data .alarm-time .k-picker-wrap, .k-numeric-wrap {
	width: 101px !important;
}
.form_data .pick_data .alarm-time .k-textbox>input, .form_data .pick_data .alarm-time .k-autocomplete .k-input, .form_data .pick_data .alarm-time .k-picker-wrap .k-input, .form_data .pick_data .alarm-time .k-numeric-wrap .k-input, .form_data .pick_data .alarm-time .k-dropdown-wrap .k-input, .form_data .pick_data .alarm-time .k-selectbox .k-input {
	margin-left: 45px !important;
	background: transparent;
	width: 56px !important;
	font-family: 'Arial' !important;
	font-size: 14px !important;
	line-height: 43px !important;
	height: 43px !important;
}
.form_data .pick_data .alarm-time .k-icon {
	background: url(../img/sprite.png) no-repeat 0 -51px !important;

}
.alarm-time .k-picker-wrap .k-select, .k-numeric-wrap .k-select, .k-dropdown-wrap .k-select {
	position: absolute !important;
	top: 6px !important;
	left: 9px !important;
	padding: 0 !important;
	border: none !important;
}
.alarm-time .k-icon, .k-sprite, .k-button-group .k-tool-icon {
	width: 91px !important;
	height: 24px !important;
}