@media screen and (max-width: 700px) {
    .menu__icon {
        display: block;
        position: absolute;
        left: 80vw;
        bottom: 5vw;
        width: 50px;
        height: 50px;
        background: #2C2D33;
        padding: 10px;
    }
    .menu__wrapper {
        display: none;
        height: 100vh;
        background: rgba(25,26,30,.8);
        position: absolute;
        right: 0;
        transition: 1s all;
    }
    .menu__wrapper.menu__state {
        right: 0;
        display: block;
    }
    .menu__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    }
    .menu__item {
        width: auto;
        align-self: flex-end;
        padding: 2rem;
        font-size: 4rem;
    }
    .activ__item:before {
        width: 80%;
    }
    .menu__item:nth-child(odd), .menu__item:nth-child(even) {
        height: auto;
    }
    .menu {
        width: 100%;
        height: 100vh;
    }
    .blur {
  -webkit-filter: blur(3px);
     -moz-filter: blur(3px);
      -ms-filter: blur(3px);
          filter: blur(3px);
          transition: 1s all;
}
    .menu__icon__close {
        display: none;
    }
    .section__left-side, .section__right-side, .expirience {
        display: block;
        padding: 0;
        margin: 0 auto;
    }
    .section__inner {
        width: 100vw;
        display: table-cell;
        vertical-align: middle;
    }
}
