/*  =================== CLEARFIX ================= */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,u,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

.clearfix {
*zoom: 1;
}

.clearfix:after {
content: "";
display: table;
clear: both;
}

/*  =================== END  CLEARFIX ================= */






@font-face {
    font-family: MavenPro-Regular;
    src: url(../fonts/MavenPro-Regular.ttf) format('truetype');
}
@font-face {
    font-family: MavenPro-Bold;
    src: url(../fonts/MavenPro-Bold.ttf) format('truetype');
}
@font-face {
    font-family: Lato-Reg;
    src: url(../fonts/Lato-Reg.ttf) format('truetype');
}
@font-face {
    font-family: Lato-Bol;
    src: url(../fonts/Lato-Bol.ttf) format('truetype');
}
* {
    box-sizing: border-box;
}
.body {
    width: 100%;
    font-family: Lato-Reg;
}
.container {
    width: 100%;
    height: auto ;
}
.subcontainer {
    width: 1020px;
    margin: auto;
}
.left {
    width: 465px;
    height: 63px;
    background: #323232;
    float: left;
    padding-left: 326px;
    padding-top: 25px;
    font-family: Lato-Bol;
}
.item1, .item3 {
    display: inline-block;
    padding-right: 11px;
}
.item1__link, .item2__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
}
.item1__link:hover, .item2__link:hover, .item3__link:hover, .item4__link:hover {
    color: #2eac93;
}
.point {
    width: 2px;
    height: 2px;
    margin-bottom: 3px;
    background: #484c5f;
    border-left: 1px solid #3c3e47;
    display: inline-block;
}
.item2, .item4 {
    display: inline-block;
    padding-left: 12px;
}

.center {
    width: 90px;
    height: 63px;
    background: #323232;
    position: relative;
    float: left;
}
.center:after {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 3px;
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 26px solid #323232;
}
.logo {
    position: absolute;
    top: 11px;
    left: 15px;
    width: 64px;
    height: 55px;
    background: url(../img/logo.png) center no-repeat #323232;
}
.right {
    width: 465px;
    height: 63px;
    background: #323232;
    float: right;
    padding-left: 26px;
    padding-top: 25px;
    font-family: Lato-Bol;
}

.item3__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
}

.item4__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
 }
.portfolio {
    width: 100%;
    height: 724px;
    padding-top: 11px;
    padding-bottom: 11px;
    position: relative;
}
.portfolio:before {
    content: "";
    position: absolute;
    width: 410px;
    height: 1px;
    left: 30px;
    background-color: #e4e9eb;
}
.portfolio:after {
    content: "";
    position: absolute;
    width: 410px;
    height: 1px;
    background-color: #e4e9eb;
    left: 580px;
    top: 11px;
}
.all {
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid #e4e9eb;
    padding-top: 80px;
}


/*=============================================================*/

.wraper__one {
    position: relative;
    float: left;
    margin-left: 90px;
    cursor: pointer;
}
.wraper__one:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 104px;
    background-color: #e4e9eb;
    top: 52px;
    left: -20px;
}
.picture {
    width: 180px;
    height: 206px;
    border-radius: 80px;
    -webkit-filter: grayscale(100%);

    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayscale=1)";

 }
.frame {
    background: url("../img/frame.png") no-repeat;
    width: 180px;
    height: 206px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 75px;
}
.color:hover .picture {
    -webkit-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayscale=0)";
}
/*==============================================================*/
.wraper__two {
    position: relative;
    float: left;
    margin-left: 12px;
    cursor: pointer;
}
/*==============================================================*/
.wraper__three {
    position: relative;
    float: left;
    margin-left: 12px;
    cursor: pointer;
}
/*==============================================================*/
.wraper__four {
    position: relative;
    float: left;
    margin-left: 12px;
    cursor: pointer;
}
.wraper__four:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 104px;
    background-color: #e4e9eb;
    top: 52px;
    right: -20px;
}
/*==============================================================*/

.wraper__five {
    position: relative;
    float: left;
   cursor: pointer;
   top: -37px;
}
/*==============================================================*/
.wraper__six {
    position: relative;
    float: left;
    cursor: pointer;
    top: -37px;
    left: 11px;
}
/*==============================================================*/
.wraper__seven {
    position: relative;
    float: left;
   cursor: pointer;
    top: -37px;
    left: 20px;
}
/*==============================================================*/
.wraper__eight {
    float: left;
    position: relative;
    cursor: pointer;
    top: -37px;
    left: 30px;
}
/*==============================================================*/
.wraper__nine {
    float: left;
    cursor: pointer;
    position: relative;
    top: -37px;
    left: 40px;
    border-radius: 80px;
}
/*=============================================================*/
.wraper__ten {
    position: relative;
    float: left;
    margin-left: 90px;
    cursor: pointer;
    border-radius: 80px;
    top:-74px;
}
.wraper__ten:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 104px;
    background-color: #e4e9eb;
    top: 52px;
    left: -20px;
}
/*=============================================================*/
.wraper__eleven {
    position: relative;
    float: left;
    margin-left: 15px;
    cursor: pointer;
    border-radius: 80px;
    top:-74px;
}
/*=============================================================*/
.wraper__twelve {
    position: relative;
    float: left;
    margin-left: 11px;
    cursor: pointer;
    border-radius: 80px;
    top:-74px;
}
/*=============================================================*/
.wraper__thirteen {
    position: relative;
    float: left;
    margin-left: 11px;
    cursor: pointer;
    border-radius: 80px;
    top:-74px;
}
.wraper__thirteen:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 104px;
    background-color: #e4e9eb;
    top: 52px;
    right: -20px;
}
/*======================================================*/
.about {
    background-color: #2eb398;
    margin-top: 12px;
    padding-top: 68px;
    padding-bottom: 68px;
    padding-left: 120px;
    padding-right: 120px;
}
.photo {
    position: relative;
    float: left;
    margin-left: 11px;
    cursor: pointer;
    border-radius: 80px;
    margin-right: 20px;
}
.photo .picture {
    -webkit-filter: grayscale(0%);

    filter: grayscale(0%);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayscale=0)";
}
.photo__frame {
    background: url("../img/frame3.png") no-repeat;
    width: 180px;
    height: 206px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 75px;
}
.photo:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 317px;
    background-color: #219d84;
    top: -56px;
    left: -20px;
}
.name {
    color: #d7fcf5;
    font-size: 30px;
    line-height: 50px;
    font-family: MavenPro-Regular;
}
.post {
    color: #20816d;
    font-size: 18px;
    padding-bottom: 23px;
    font-family: MavenPro-Regular;
}
.description {
    font-size: 12px;
    line-height: 22px;
    color: #d7fcf5;
    position: relative;
}
.description:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 317px;
    background-color: #219d84;
    top: -147px;
    right: -20px;
}
.social {
    float: right;
    width: 148px;
    height: 24px;
}
.social__general {
    float: left;
    width: 24px;
    height: 24px;
}
.fb {
    background: url("../img/sprite2.png") 0 0 ;
}
.twitter {
   background: url("../img/sprite2.png") 0 -24px ;
}
.google {
    background: url("../img/sprite2.png") 0 -48px ;
}
.pinterest {
    background: url("../img/sprite2.png") 0 -72px ;
}
.in {
    background: url("../img/sprite2.png") 0 -96px ;
}
.dribbble {
    background: url("../img/sprite2.png") 0 -120px ;
}


/*===================================Get in Touch=========================================================*/

.message {
    background: #323232;
    width: 100%;
    position: relative;
}
.message:before {
    content: "";
    position: absolute;
    width: 960px;
    height: 1px;
    background-color: #2b2b2b;
    top: 13px;
    left: 30px;
}
.get__form {
    position: relative;
}
.get {
    position: relative;
    float: left;
    width: 702px;
    padding-left: 120px;
    padding-top: 67px;
    padding-bottom: 65px;
}
.title {
    font-size: 30px;
    color: #fff;
    font-family: MavenPro-Regular;
}
.depiction {
    font-size: 18px;
    color: #bebebe;
    padding-bottom: 18px;
    font-family: MavenPro-Regular;
}
.feedback__general {
    width: 582px;
    background: #454545;
    outline: none;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 16px;
    margin-bottom: 16px;
    font-family: Lato-Reg;
    color: #bebebe;
    font-size: 12px;
}
.form__message {
    height: 152px;
    padding-bottom: 13px;
    /*padding-top: 13px;*/
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
}
.form__button {
    float: right;
    background: #2eb398;
    width: 91px;
    padding-bottom: 14px;
    padding-top: 14px;
    border: none;
    cursor: pointer;
    color: #d7fcf5;
    font-family: Lato-Bol;
}
.contacts {
    float: left;
    width: 202px;
    height: 347px;
    padding-top: 127px;
    padding-left: 20px;

}
.bold {
    font-family: Lato-Bol;
    font-size: 12px;
}
.text {
    margin-bottom: 46px;
    height: 135px;
    color: #bebebe;
    font-family: Lato-Reg;
    line-height: 23px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cont__general {
    position: relative;
    font-size: 12px;
    line-height: 22px;
    margin-left: 24px;
    font-family: Lato-Bol;
    color: #bebebe;
}
.map:before {
    content: "";
    position: absolute;
    width: 7px;
    height: 11px;
    left: -23px;
    top: 6px;
    background: url("../img/map.png");

}
.phone:before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    left: -23px;
    top: 6px;
    background: url("../img/phone.png");

}
.mail:before {
    content: "";
    position: absolute;
    width: 13px;
    height: 8px;
    left: -23px;
    top: 6px;
    background: url("../img/mail.png");

}