 @media screen and (min-width: 299px) and (max-width: 600px) { 
 	.location, .phone, .mail { background: none; padding-left: 0; font-size: 8px; line-height: 12px; height: auto; }
 	.social_title { font-size: 12px; }
 	.soc_net, .interests { width: 42px; margin: 0 auto; }
 	.site_title { font-size: 40px; line-height: 42px; }
 	.position { font-size: 20px; }
 	.about { font-size: 14px; line-height: 20px; }
 	.subtitle { font-size: 20px; line-height: 24px; }
 	.info {  font-size: 14px; line-height: 20px; padding-right: 10px; }
 	.site_link { width: auto; font-size: 18px; }
 	.item_hover { height: 50%; }




 }
 @media screen and (max-width: 1800px)  and (min-width: 600px) {
 	.site_link { font-size: 30px;}
 }