:root {
  font-size: 10px; }

@media (min-width: 640px) and (max-width: 1024px) {
  :root {
    font-size: 1.5625vw; } }

@media (min-width: 1024px) {
  :root {
    font-size: 16px; } }
body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.group {
    width: 69vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    transition: all .5s;
}
.group-card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    // margin-bottom: 5rem;
    margin: 1rem;
}
.group-card__img {
    max-width: 200px;
    max-height: 100px;
    overflow: hidden;
}
.group-card__img img {
    width: 100%;
}
.group-card__title {
    font-size: 1.1rem;
    font-weight: 900;
    color: #191d23;
    padding: 1rem 0 .5rem 0;
}
.group-card__year, .group-card__song {
    font-weight: 300;
    color: #a9b0b9;
    font-size: .75rem;
}
.group-card__songs {
    margin: 1rem 0;
    padding: 1rem 0 0 0;
    border-top: 1px solid #f4f3f4;
}
.group-card__song {
    line-height: 1.6;
}
