@media screen and (max-width: 640px) {
    .menu__icon {
        display: block;
        position: absolute;
        right: 19vw;
        top: 50%;
        transform: translate(0,-50%);
        width: 20px;
        height: 20px;
        z-index: 2;
    }
    .menu__icon__close {
        display: none;
    }
    .menu {
        display: none;
        height: 100vh;
        width: 83vw;
        background: rgba(25,26,30,.9);
        position: absolute;
        right: 0;
        top: 0;
        padding: 10rem 4rem;
        z-index: 1;
    }
    .menu__item {
        display: table;
        color: #fff;
        font-size: 1.8rem;
        margin: 1rem 0;
    }
    .group {
        flex-direction: column;
    }
    .group-card {
        max-width: 100%;
        width: 100%;
    }
    .group-card__inner {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .group-card__img {
        width: 31vw;
        height: 20vw;
        min-width: 100px;
    }
    .group-card__info {
        padding-left: 12vw;
    }
    .group-card__song, .group-card__year {
        font-size: 1rem;
    }
    .group-card__title {
        font-size: 1.2rem;
    }
}
