.container {
	position: relative;
	max-width: 1180px;
	height: 118px;
	overflow: hidden;
	margin: 0 auto;
}
.item {
	width: 198px;
	height: 118px;
	overflow: hidden;
}
.prev{
	position: absolute;
	cursor: pointer;
	width: 39px;
	height: 118px;
	top: 0;
	left: 0;
	background: url(../img/sprite.png) no-repeat 0 -208px;
}
.next{
	position: absolute;
	cursor: pointer;
	width: 39px;
	height: 118px;
	top: 0;
	right: 0;
	background: url(../img/sprite.png) no-repeat 0 -340px;
}