@media screen and (max-width: 700px) {
    .about, .advantages {
        width: 95vw;
    }
    .first {
        background-position: -72vw 0;
        transition: all .5s;
    }

    
    nav {
        display: none;
        height: 100vh;
        background: rgba(25,26,30,.8);
        position: absolute;
        right: 0;
        transition: 1s all;
    }
    .menu__icon__close {
        display: none;
    }
    .menu__state {
        right: 0;
        display: block;
    }
}




@media screen and (max-width: 480px) {
    .first {
        background-position: -100vw 0;
    }
    .advantages {
        flex-direction: column;
    }
    .advantages__item {
        width: auto;
        margin: 1rem auto;
    }
    .about {
        flex-direction: column;
    }
    .about__img {
        max-height: 330px;
        width: 100%;
        height: 18rem;
    }
    .about__inner {
        width: 100%;
    }
    .about__inner:nth-child(1) {
        order: 2;
    }
    .about__img:nth-child(3) {
        order: 3;
    }
    .about__img:nth-child(2) {
        order: 1;
    }
    .about__inner:nth-child(4) {
        order: 4;
    }
    .about__picture--small, .about__picture--big {
        width: 100%;
        background-size: cover;
    }
    .about__picture--small:nth-child(1)  {
        order: 1;
    }
    .about__inner--small:nth-child(3) {
        order: 2;
    }
    .about__picture--big:nth-child(2) {
        order: 3;
    }
    .about__picture--big:nth-child(5) {
        order: 4;
    }
    .about__inner--big:nth-child(7) {
        order: 5;
    }
    .about__picture--small:nth-child(6) {
        order: 6;
    }
    .about__inner--small:nth-child(8) {
        order: 7;
    }
    .align-block {
        width: 90vw;
    }
    .footer__top {
        flex-direction: column;
    }
    .footer__top__text {
        width: 40vw;
        margin: 1rem auto;
    }
    .footer__top__text svg {
        width: 11vw;
    }

}
