section.section#about
    include bg.jade
    .section__wrapper
        .section__header
            h1.section__title who i am
            .number
                p 02.
        .section__inner
            .section__left-side
                .about__text-wrapper
                    .text-decorated
                    p.about__text-inner I love what I do. And I am looking for a team that loves their job too. And a mentor who can help me develop. I promise to be a good worker and try, by all means, to justify your hopes.

            .expirience
                h2.expirience__title Work Expirience
                ul.expirience__list
                    li.expirience__item
                        p.expirience__date 2014 - jan 2016
                        p.expirience__name Freelance
                    li.expirience__item
                        p.expirience__date dec 2016 - feb 2016
                        p.expirience__name Kontora Production
                    li.expirience__item
                        p.expirience__date feb 2016 - sep 2016
                        p.expirience__name Binboro
                    li.expirience__item
                        p.expirience__date sep 2016 - Current Time
                        p.expirience__name Freelance
                    
