section.section#contact 
    .section__inner
        .section__header
            h1.section__title Contact Me
            .number
                p 05.
        .section__left-side
            .contacts__header
                div.contacts__img
                    .contacts__img__inner
                        img(src="images/RVtMJVGOr2A.jpg", alt="Alya Surikova")
                div.contacts__title
                    span.contacts__name Alya
                    span.contacts__surname Surikova
                    span.contacts__city Odessa
            .contacts__inner 
                .contacts__details
                    p Phone
                    a(href="tel:+380950029555") +38 (095) 00-29-555
                .contacts__details
                    p E-mail
                    a(href="mailto:solar.alya@gmail.com") solar.alya@gmail.com
        .section__right-side
    include bg.jade
