section.section#home
    include bg.jade
    .stripe__top
    .stripe__bottom
    .section__inner
        .section__header
            .number
                p 01.
        .home__title
            h1 Alya Surikova
            h2 I Am Front-End Developer
