section.section#home
    include bg.jade
    .stripe__top
    .stripe__bottom
    .section__wrapper.section__home
        .section__header
            .number
                p 01.
        .section__inner
            .home__title
                h1 
                    span.home__name Alya 
                    span.home__surname Surikova
                h2 I Am Front-End Developer
