nav.menu
    ul.menu__wrapper
        li.menu__item(data-menu_item = "home") home
        li.menu__item(data-menu_item = "about") who i am
        li.menu__item(data-menu_item = "skills") skills
        li.menu__item(data-menu_item = "projects") projects
        li.menu__item(data-menu_item = "contact") contact me
