section.section#projects
    .section__inner
        .section__header
            h1.section__title Projects
            .number
                p 04.
        .slider__wrapper
            .owl-carousel#slider
                .owl-carousel__item 
                    p.project__date feb 2015
                    a(href="sites/sndsgn_site/index.html")
                        img(src="images/sndsgn.jpg", alt="sndsgn")
                    h2.project__name sndsgn
                    p.project__technology HTML, CSS, JavaScript, JQuery
                .owl-carousel__item 
                    p.project__date mar 2015
                    a(href="sites/Parallels_Flat/index.html")
                        img(src="images/MainDark.jpg", alt="Parallels")
                    h2.project__name Parallels
                    p.project__technology HTML, CSS, JavaScript, JQuery
                .owl-carousel__item 
                    p.project__date jan 2015
                    a(href="sites/clothing/index.html")
                        img(src="images/HS.jpg", alt="HAZY SHADE")
                    h2.project__name HAZY SHADE
                    p.project__technology HTML, CSS, JavaScript
                .owl-carousel__item 
                    p.project__date aug 2014
                    a(href="sites/cars/index.html")
                        img(src="images/page1.jpg", alt="CarRental")
                    h2.project__name CarRental
                    p.project__technology HTML, CSS, JavaScript
                .owl-carousel__item 
                    p.project__date may 2014
                    a(href="sites/hexal/index.html")
                        img(src="images/hexal.jpg", alt="hexal")
                    h2.project__name hexal
                    p.project__technology HTML, CSS    
                .owl-carousel__item
                    p.project__date mar 2014
                    a(href="http://akademgorodok-sovinyon.com.ua/")
                        img(src="images/AG.jpg", alt="AG")
                    h2.project__name AcademGorodok
                    p.project__technology HTML, CSS, JQuery
    include bg.jade
