section.section#skills
    include bg.jade
    .skills__stripe__bottom
    .section__wrapper
        .section__header
            h1.section__title.section__title--color Skills
            .number
                p 03.
        .section__inner
            .section__left-side
                ul.skills__list
                    li.skills__item.html
                        .skills__item__inner HTML
                    li.skills__item.css
                        .skills__item__inner CSS 3
                    li.skills__item.javascript
                        .skills__item__inner JavaScript
                    li.skills__item.jade
                        .skills__item__inner Jade (Pug)
                    li.skills__item.sass
                        .skills__item__inner Sass
                    li.skills__item.jquery
                        .skills__item__inner Jquery
                    li.skills__item.gulp
                        .skills__item__inner Gulp
                    li.skills__item.git
                        .skills__item__inner GIT
            .section__right-side.other-skills
                h2.skills__title Other  Skills
                ul.other-skills__list
                    li.other-skills__item Cross-browser Development
                    li.other-skills__item Pixel Perfect
                    li.other-skills__item Responsive
                    li.other-skills__item Bem methodology
                h2.skills__title Soft
                ul.other-skills__list
                    li.other-skills__item Photoshop
                    li.other-skills__item AvoCode
                    
