a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}img{;height:auto;width:auto\9}input[type=text],input[type=button],input[type=submit],input[type=email],textarea{-webkit-appearance:none;border-radius:0;outline:0}a,abbr,acronym,address,applet,article,aside,audio,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}table{border-collapse:collapse;border-spacing:0}.clearfix:after{content:"";display:table;clear:both}a{text-decoration:none;color:inherit}button,input{outline:0}*,:after,:before{box-sizing:border-box}

* {
  box-sizing: border-box;
}
.wrapper {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header {
  width: 100%;
  border-bottom: 1px solid #44433355;
  padding: 10px 0;
  position: relative;
}

.header__inner {
  display: flex;
  padding: 0 1rem;
  justify-content: center;
}

a.header__inner__logo {
  font-family: 'Grand Hotel', cursive;
  font-size: 2.5rem;
  text-transform: capitalize;
  align-self: center;
  text-decoration: none;
  color: #444333;
}

.board {
  width: 400px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cell {
  width: 50px;
  height: 50px;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.cell--light {
  background: #fffcc999;
}

.cell--dark {
  background: #7d7b60 ;
}

.cell--dark svg {
  width: 30px;
  height: 30px;
}

.cell--light svg {
  width: 30px;
  height: 30px;
}

.cell span {
  position: absolute;
  font-size: 10px;
  top: 0;
  left: 0;
}

.inner {
  display: flex;
  height: 100%;
  padding: 50px;
  justify-content: space-between;
  align-items: flex-start;
  background: #c5c580;
}

.info {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.info.info-white {
  align-items: flex-end;
}

.info_captives {
  display: flex;
}

.info_captives svg {
  width: 20px;
  height: 20px;
}

h1 {
  display: flex;
  font-family: 'Roboto Condensed';
  letter-spacing: .5px;
  font-weight: 500;
}

.info_active {
  color: #0c9a41;
}

.action_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action_buttons button {
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #444333;
  border-radius: 4px;
  color: #444333;
  cursor: pointer;
  transition: all 0.3s;
}

.action_buttons button:hover {
  box-shadow: 0 5px 5px 0 rgba(66, 71, 25, 0.08), 0 4px 13px 0 rgba(71, 68, 25, 0.11);
  transition: all 0.3s;
  background: #a0a05433;
}

.cell.active-cell {
  border: 1px solid #0c9a41;
  opacity: .5;
}
