doctype html
html(lang="en")
      include includes/head.jade
      body
        include includes/sprite.html
        include includes/menu.jade
        .container
            include includes/home.jade
            include includes/about.jade
            include includes/skills.jade
            include includes/projects.jade
            include includes/contact.jade
            include includes/footer.jade
            
