@media screen and (min-width: 299px) and (max-width:480px) {

	.inner { width: 300px ; }
	.header_inner { width: 300px; }
	.item_link { font-size: 12px; }
	.menu_item { margin-right: 10px; }
	.header_menu { float: left; }
	.sb-search { float: left; margin-right: 200px; }
	.logo { margin-right: 110px; }
	
	.item:after { display: none; }
	.slider_text .slider_title { font-size: 26px; }
	.slider_text .slider_about { font-size: 16px; }

	.all_sevicas { width: 200px; margin: 0 auto; }
	.service { margin-bottom: 20px; }

	.wrapper_likes { height: 200px; }
	.inner_likes {padding-left: 14px; padding-top: 42px; width: 300px; }
	.inner_likes .slider_title, .connect_titel { font-size: 26px; }
	.inner_likes .slider_about, .connect_about { font-size: 20px; }
	
	.image-grid { width: 224px; margin: 0 auto; }
	.splitter li { margin-right: 0; }
	.splitter li a { font-size: 10px; padding-right: 10px; padding-left: 10px; }
	
	.price_wrapper { display: none !important; }

	.small_title:before, .small_title:after, .comment:before , .comment:after { display: none; }
	.comment, .comment_wrapper { width: 250px; }

	.team_wrapper { width: 224px; margin: 0 auto; }
	.employee_info { margin-bottom: 20px; }
	.skills_inner { width: 300px; margin: 0 auto; }
	.skill { margin-right: 2px; }
	.skill:last-child { margin-left: 75px; }

	.right { width: 200px; float: none; margin: 0 auto; }
	.left { width: 200px; float: none; margin: 0 auto; padding-bottom: 50px; }
	.send_name { width: 200px; }
	.button_send { height: 32px; }

	.social_wrapper { width: 300px; padding-top:0; }

	.general_block { margin: 0 auto; float: none; }

	.stream .image-grid .portfolio-item2:nth-child(4n+4) { margin-right: 8px; }

	.footer_inner { width: 140px; margin: 0 auto; padding-top: 20px; padding-bottom: 20px; }
	.footer_right { float: none; padding-top: 50px; }
	.more_item , .footer_right .more_item_link{ font-size: 14px; }
	.footer_right .more_item { margin-right: 0; }
	
}

@media screen and (min-width: 481px) and (max-width: 767px) {
	
	.inner { width: 450px ; }
	.header_inner { width: 450px; }
	.item_link { font-size: 16px; }
	.menu_item { margin-right: 22px; }
	.header_menu { float: left; }
	.sb-search { float: left; margin-left: 50px; }

	.item:after { display: none; }
	.slider_text .slider_title { font-size: 40px; }
	.slider_text .slider_about { font-size: 24px; }

	.all_sevicas { width: 450px; margin: 0 auto; }
	.service { margin-bottom: 20px; margin-right: 30px; }

	.wrapper_likes { height: 200px; }
	.inner_likes {padding-left: 14px; padding-top: 42px; width: 450px; }
	.inner_likes .slider_title, .connect_titel { font-size: 34px; }
	.inner_likes .slider_about, .connect_about { font-size: 24px; }

	.image-grid { width: 480px; margin: 0 auto; }
	.portfolio_demo li { margin-right: 5px; }

	.inner_price { width: 480px; margin: 0 auto; }
	.price_info { width: 147px; height: 370px; margin-right: 4px; }
	.option { font-size: 14px; } 
	.option span { font-size: 14px; } 
	.price_info_small { width: 158px; height: 370px; margin-right: 10px; }
	.price_title { font-size: 18px; }
	.option span { line-height: 30px; }
	.price_title { line-height: 66px; }
	.price_options { padding-bottom: 0; padding-top: 0; }
	.inner_price_small { width: 350px; }
	
	.team_wrapper { width: 465px; margin: 0 auto; }
	.employee_info { margin-right: 4px; }
	.employee_info:nth-child(2n) { margin-right: 0; }
	.employee_info:nth-child(1) { margin-bottom: 50px; }
	.employee_info:nth-child(2) { margin-bottom: 50px; }
	
	.skills_inner { width: 350px; margin: 0 auto; }
	.skill:nth-child(2n) { margin-right: 0; }
	.skill:last-child { margin-left: 95px; }

	.left { width: 292px; padding-left: 20px; }
	.send_name { width: 100%; }
	.button_send { height: 32px; }
	.right { width: 130px; padding-right: 20px; }
	.more_item, .more_item .more_item_link { font-size: 11px; line-height: 27px; }
	.right .button_send { margin-top: 74px; }
	
	.last_inner { width: 450px ; margin: 0 auto; }
	.general_block { width: 200px; margin-right: 25px; }

	.stream  { width: 480px; overflow: hidden; margin-top: 0; margin-bottom: 50px; }
	.stream .image-grid .portfolio-item2:nth-child(4n+4) { margin-right: 8px; }

	.footer_right .more_item { margin-right: 10px; }
	.footer_inner { width: 312px; margin: 0 auto; padding-top: 20px; padding-bottom: 20px; }
	.footer_right { float: left; }



}


@media screen and (min-width: 768px) and (max-width: 1024px) {

	.inner { width: 768px ; }
	
	.header_inner { width: 600px; }
	.sb-search { float: left; margin-right: 100px; margin-left: 25px; }
	.header_menu { float: left; padding-top: 26px; }
	.menu_item { margin-right: 40px; }

	.item:after { display: none; }

	.all_sevicas { width: 450px; margin: 0 auto; }
	.service:nth-child(1) { margin-bottom: 50px; }
	.service:nth-child(2) { margin-bottom: 50px; }
	.service:nth-child(2n) { margin-right: 0; }
	
	.wrapper_likes { height: 200px; }
	.inner_likes { padding-top: 42px; width: 600px; }
	.inner_likes .slider_title { font-size: 40px; }
	
	.image-grid { width: 700px; margin: 0 auto; }
	.portfolio-item2:nth-child(3n+3) { margin-right: 0; }
	.portfolio_demo li:nth-child(4n+4) { margin-right: 14px; }

	.inner_price { width: 665px; margin: 0 auto; }
	.price_info { width: 200px; height: 370px; margin-right: 30px; }

	.price_info_small { width: 158px; height: 370px; margin-right: 10px; }
	.price_title { font-size: 18px; }
	.option span { line-height: 30px; }
	.price_title { line-height: 66px; }
	.price_options { padding-bottom: 0; padding-top: 0; }

	.team_wrapper { width: 465px; margin: 0 auto; }
	.employee_info:nth-child(2n) { margin-right: 0; }
	.employee_info:nth-child(1) { margin-bottom: 50px; }
	.employee_info:nth-child(2) { margin-bottom: 50px; }
	
	.skills_inner { width: 350px; margin: 0 auto; }
	.skill:nth-child(2n) { margin-right: 0; }
	.skill:last-child { margin-left: 95px; }

	.left { width: 500px; padding-left: 20px; }
	.send_name { width: 232px; }
	.button_send { height: 32px; }
	.right { width: 188px; padding-right: 20px; }

	.connect_about, .connect_titel { font-size: 40px; }
	.social_wrapper { padding-top: 10px; }
	
	.stream  { width: 600px; overflow: hidden; margin-top: 0; }
	.stream .image-grid .portfolio-item2:nth-child(4n+4) { margin-right: 8px; }
	.last_inner { width: 602px; margin: 0 auto; padding-bottom: 70px; }
	.posts { margin-right: 0; }

	.footer_right .more_item { margin-right: 10px; }
	.footer_inner { width: 600px; margin: 0 auto; }
}
