/*.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}*/
.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
/*.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 8px;
	height: 8px;
	margin: 10px 7px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #cbcbcb;
}*/
.owl-theme .owl-controls .owl-page.active span {
	background: #000;
}

