body {
 	margin: 0;
}
.owl-wrapper-outer {
  
}
.slider_main {
  position: relative;
  max-width: 1162px;
  width: 100%;
  height: 405px;
  margin: 0 auto;
  background: #fff;
  padding-top: 12px;
}
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#owl-demo {
  max-width: 1011px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.container {
	width: 100%;
	height: auto;
	position: relative;
}   
.span12 {
	width: 100%;
} 
.prev {
  position: absolute;
  background: url(../img/sprite.png) no-repeat 0 -104px;
  width: 51px;
  height: 51px;
  top: 40%;
  left: 24px;
  text-indent: -9999px;
  cursor: pointer;
}
.next {
  position: absolute;
  background: url(../img/sprite.png) no-repeat 0 -185px;
  width: 51px;
  height: 51px;
  top: 40%;
  right: 24px;
  text-indent: -9999px;
  cursor: pointer;
}
#owl-demo .item {
  padding: 0;
  background: #fff;
  margin-right: 2px;
  border-bottom: 1px solid #e3e3e3;
  height: 296px;
}
.owl-carousel .item h1 {
  display: block;
  line-height: 40px;
  text-align: center;
  background: #edeaea;
  cursor: pointer;
  margin: 0 !important;
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
  vertical-align: top;
}
.owl-carousel .item h1 a {
  font-family: 'titillium_bdbold';
  font-size: 16px;
  color: #e74710;
}
#owl-demo .item .item_pic {
  width: 185px;
  height: 139px;
  margin: 0 auto;
}
#owl-demo .item img {
  width: 185px;
  height: 139px;
  text-align: center;
}
.item_info h2 {
  font-family: 'Arial';
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
}
.description {
  padding-left: 57px;
  padding-top: 27px;
}
.item_info_item {
  position: relative;
  float: left;
  font-family: 'Arial';
  font-size: 14px;
  line-height: 18px;
  padding-right: 50px;
  padding-bottom: 20px;
}
.item_info_item:last-child {
  padding-right: 0;
}
.site:before {
  position: absolute;
  content: '';
  background: url(../img/sprite.png) no-repeat 0 -266px;
  top: -10px;
  left: -30px;
  width: 27px;
  height: 26px;
}
.case {
  padding-right: 45px;
}
.case:before {
  position: absolute;
  content: '';
  background: url(../img/sprite.png) no-repeat 0 -321px;
  top: -6px;
  left: -34px;
  width: 26px;
  height: 23px;
}
.doors {
  padding-right: 43px;
}
.doors:before {
  position: absolute;
  content: '';
  background: url(../img/sprite.png) no-repeat 0 -371px;
  top: -6px;
  left: -30px;
  width: 24px;
  height: 20px;
}
.transmission:before {
  position: absolute;
  content: '';
  background: url(../img/sprite.png) no-repeat 0 -422px;
  top: -8px;
  left: -26px;
  width: 23px;
  height: 23px;
}
.item_button {
  display: none;
  width: 147px;
  height: 32px;
  margin: 0 auto;
  margin-bottom: 11px;
  line-height: 32px;
  background: #007ed6;
  color: #fff;
  text-transform: uppercase;
  font-family: 'titillium_bdbold';
  font-size: 14px;
  text-align: center;
  -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,0.3) ;
  box-shadow: 0 0 13px 0 rgba(0,0,0,0.3) ; 
}
#owl-demo .item:hover .item_button {
  display: block;

}
#owl-demo .item:hover {
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.3) ;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.3) ; 
  /*border-bottom: none;*/
   padding-bottom: 20px;
   height: 340px;
   z-index: 5;
}
#owl-demo .item:hover  h1 {
  background: #e74710;
}
#owl-demo .item:hover  h1 a {
  color: #fff;
}