@media screen and (max-width:1200px) {
	.container_top, .header_inner, .site_container_inner { max-width: 768px; }
	.logo {	font-size: 26px; }
	.choose_lang { width: 100px; }
	.item_menu { padding-left: 10px; padding-right: 10px; }
	.item_link { font-size: 14px; }
	.form_data { max-width: 500px; }
	.form_inner .pick_data:nth-child(2) { margin-left: 0; }
	.location { margin-bottom: 100px; }
	.main_banner, .footer_inner { width: 700px; }
	.banner_right { width: 300px; }
	.banner_title, .banner_price { font-size: 30px; }
	.banner_about { font-size: 11px; }
	.footer_first_countries { margin-right: 0; }
	.column_title { font-size: 12px; }
	.footer_first_countries .column, .footer_first_worldwide .column, .col1 { margin-right: 40px; }
	.column_item_link { font-size: 12px; }
	.footer_first_countries, .footer_first_worldwide { margin-right: 10px; }
	.prev { left: 0 !important; }
	.next { right: 0 !important; }
	/*==================================================*/
	.special { width: 500px; margin: 0 auto; }
	.special .location_offers { width: 500px; margin-right: 200px; margin-bottom: 10px; }
	.button_find { float: left; margin-left: 20px; }
	.offers { width: 490px; }
	/*===================================================*/
	.cars_menu { width: 520px; float: left; margin-left: 15px; }
	.cars_title { font-size: 22px; width: 172px; }
	.cars_price_buy { margin-left: 30px; }
	/*======================================================*/
	.about_left { width: 100%; padding-left: 20px; padding-right: 20px; }
	.about_right { max-width: 100%; padding-left: 20px; padding-right: 20px; }
	.item_car { width: 250px; float: left; margin-top: 63px; }
	/*===========================================================*/
	.contact_left { padding-left: 20px; }
	/*=====================================================*/
	ul.tabs { margin-left: 15px; }
	ul.tabs li { font-size: 14px; padding-left: 5px; padding-right: 5px;}
	.tab1 {  }
	.tab2 { left: 114px; }
	.tab3 { left: 282px; }
	.tab4 { left: 329px; }
	.tab5 { left: 420px; }
	.tab6 { left: 497px; }
	.tab7 { left: 582px; }
	.cities { width: 368px; -webkit-column-count: 2; -o-column-count: 2; column-count: 2; }
	

	}
@media screen and (max-width: 740px) {
	.container_top, .header_inner, .site_container_inner { max-width: 500px; }
	.header_top { height: 110px; }
	.item_menu { line-height: 54px; }
	.item_link { line-height: 54px; }
	.header_title { font-size: 44px; padding-top: 25px; }
	.form_data { padding-top: 36px; max-width: 460px; }
	.location .city_loc { width: 454px; }
	.location_help { float: left; }
	.location { margin-bottom: 26px; }
	.form_inner { padding-bottom: 0; }
	.pick_data, .form_inner .pick_data:nth-child(2) { margin: 0 auto; float: none; margin-bottom: 50px;}
	.main_banner, .footer_inner { width: 476px; }
	.banner_about, .banner_right { width: 200px; }
	.banner_title, .banner_price { font-size: 18px; }
	.footer_first_countries, .footer_first_worldwide, .footer_first_links { width: 152px; }
	.column_item_link { font-size: 10px; }
	.footer_first_countries .column, .footer_first_worldwide .column, .col1 { margin-right: 20px; }
	.footer_first .col2 { margin-right: 0; }
	.column_item, .column_item_link { width: 66px; height: 20px; line-height: 20px; overflow: hidden; word-wrap: normal;}
	/*==================================================*/
	.special { width: 490px; margin: 0 auto; }
	.special .location_offers { width: 490px; margin-right: 0; margin-bottom: 10px; }
	.special .pick_data_offers { float: left!important; margin: 0!important; }
	.button_find { float: left; margin-left: 20px; }
	.offers { width: 490px; }
	/*====================================================*/
	.cars_menu { width: 490px; margin-left: 0; }
	.cars_filter { height: 110px; margin: 0 auto; }
	.cars_menu_item, .cars_link { width: 80px; }
	.small { left: 80px; }
	.medium { left: 160px; }
	.large { left: 240px; }
	.price_item_info, .cars_price_buy, .price_item_pic { margin-left: 0; }
	.cars_price_buy { margin-left: 187px; }
	.price_item_pic, .price_item_info { margin-left: 0; }
	/*=========================================================*/
	.about_left { width: 100%; padding-left: 20px; padding-right: 20px; }
	.about_right { float: left; margin-left: 19% ; }
	/*========================================================*/
	.contact_form input, .contact_form textarea { width: 300px; }
	.contact_right { float: none; margin: 0 auto;  }
	.contact_left { float: none; width: 320px; margin: 0 auto; }
	/*=====================================================*/
	.tabs li.current, ul.tabs li:hover { line-height: 11px; height: 58px; padding-top: 14px; }
	ul.tabs li { font-size: 10px; line-height: 11px; height: 50px; width: 72px; padding-left: 3px; padding-right: 3px; padding-top: 10px; text-align: center; overflow: hidden; }
	.tab1 { padding-right: 0; padding-left: 0; }
	.tab2 { left: 71px; }
	.tab3 { left: 142px; }
	.tab4 { left: 213px; }
	.tab5 { left: 284px; }
	.tab6 { left: 355px; }
	.tab7 { left: 426px; }
	.cities { -webkit-column-count: 2; -o-column-count: 2; column-count: 2; width: 476px; padding-left: 0; }

}

@media screen and (max-width: 492px) { 
	.container_top, .header_inner, .site_container_inner { max-width: 320px; }
	.logo { font-size: 24px; margin-left: 33px; }
	.item_link { font-size: 11px; line-height: 45px; }
	.item_menu { padding-left: 4px; padding-right: 4px; }
	.header_menu { padding-left: 0; margin-top: 10px; }
	.header_title { font-size: 26px; }
	.location { width: 320px; padding-left: 10px; }
	.location .city_loc { width: 280px; }
	.form_button { width: 250px; }
	.main_banner, .footer_inner { width: 320px; }
	.banner_about, .banner_right { width: 320px; }
	.banner_about { width: 200px; }
	.footer_first { display: none; }
	.footer_inner { padding-top: 20px; }
	.banner_price { line-height: 30px; }
	.banner_title { line-height: 20px; }
	/*==================================================*/
	.special { width: 300px; margin: 0 auto; }
	.special .location_offers { width: 250px; margin-right: 0; margin-bottom: 10px; }
	.special .pick_data_offers { float: left!important; margin: 0!important; margin-left: 10px!important; }
	.button_find { float: left; margin-left: 20px; }
	.offers { width: 300px; }
	.offer { width: 300px; }
	.offer_title { font-size: 14px; line-height: 20px; }
	.offer_about { width: 122px; }
	/*========================================================*/
	.cars_menu { width: 300px; margin-left: 0; }
	.cars_filter { height: 110px; margin: 0 auto; }
	.cars_menu_item, .cars_link { width: 80px; }
	.small { left: 80px; }
	.medium { left: 160px; }
	.large { left: 240px; }
	.price_item_info, .cars_price_buy, .price_item_pic { margin-left: 0; }
	.cars_price_item { width: 206px; margin: 0 auto; }
	/*========================================================*/
	.about_left { width: 100%; padding-left: 20px; padding-right: 20px; }
	.about_right { float: left; margin-left: 10px; }
	/*======================================================*/
	.contact_left { width: 320px; padding-right: 10px; padding-left: 10px; }
	.contact_form input, .contact_form textarea { width: 300px; }
	/*======================================================*/
	.tabs li.current, ul.tabs li:hover { line-height: 32px; height: 32px; }
	ul.tabs { width: 200px; margin: 0 auto; }
	ul.tabs li { font-size: 12px; padding-right: 10px; padding-left: 10px; line-height: 32px; height: 32px; position: static; float: none; }
	.location_title { font-size: 30px; padding-top: 10px; padding-bottom: 10px; text-align: center; }
	.tab-content { margin-top: 30px; }
	.splitter { width: 280px; }
	.countries .tabs2 { margin-top: 70px; width: 280px; height: 318px; }
	.countries .tabs2 .current2, .countries .tabs2 .tab-link2:hover { line-height: 30px; height: 30px; }
	.countries .tab-link2 { line-height: 30px; height: 30px; }
	.cities { width: 280px; padding-top: 20px; padding-left: 14px; -webkit-column-count: 2; -o-column-count: 2; column-count: 2; }
}