
*,
*:before,
*:after
{
    box-sizing: border-box;
}
@font-face {
    font-family: 'titilliumblack';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Titillium-Black-webfont.eot');
    src: url('../fonts/Titillium-Black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Titillium-Black-webfont.woff2') format('woff2'),
    url('../fonts/Titillium-Black-webfont.woff') format('woff'),
    url('../fonts/Titillium-Black-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'titillium_bdbold';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Titillium-Bold-webfont.eot');
    src: url('../fonts/Titillium-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Titillium-Bold-webfont.woff2') format('woff2'),
    url('../fonts/Titillium-Bold-webfont.woff') format('woff'),
    url('../fonts/Titillium-Bold-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'titilliumlight';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Titillium-Light-webfont.eot');
    src: url('../fonts/Titillium-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Titillium-Light-webfont.woff2') format('woff2'),
    url('../fonts/Titillium-Light-webfont.woff') format('woff'),
    url('../fonts/Titillium-Light-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'titilliumthin';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Titillium-Thin-webfont.eot');
    src: url('../fonts/Titillium-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Titillium-Thin-webfont.woff2') format('woff2'),
    url('../fonts/Titillium-Thin-webfont.woff') format('woff'),
    url('../fonts/Titillium-Thin-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'proxima_novalight';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova-light-webfont.woff2') format('woff2'),
    url('../fonts/proximanova-light-webfont.woff') format('woff'),
    url('../fonts/proximanova-light-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Calibri';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Calibri.eot');
    src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri.ttf') format('truetype');
}
html,
body
{
    font-size: 100%;

    position: relative;

    width: 100%;
    height: 100%;

    background: #f4f4f4;
}

header
{
    width: 100%;

    background: #f4f4f4;
}
footer
{
    width: 100%;
}
.container_top
{
    width: 100%;
    max-width: 1206px;
    height: 657px;
    margin: 0 auto;

    background: url(../pictures/1.jpg) no-repeat;
}
.header_inner
{
    width: 100%;
    max-width: 1206px;
    margin: 0 auto;

    background: #fff;
    box-shadow: 0 0 13px 0 rgba(0,0,0,.3);
}

.header_top
{
    width: 100%;
    max-width: 1009px;
    height: 73px;
    margin: 0 auto;

    border-top: 7px solid #e74710;
    border-bottom: 1px solid #edecec;
    background: #fff;
    box-shadow: 0 -4px 6px 2px #f7f7f7 inset;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2) ;
}

.header_left
{
    float: left;
}
.logo
{
    font-family: 'titilliumblack';
    font-size: 30px;

    float: left;

    margin-top: 20px;

    text-decoration: none;
    text-transform: uppercase;

    color: #e74710;
}

.logo span
{
    color: #a8a7a7;
}
.choose_lang
{
    font-family: 'Calibri';
    font-size: 15px;
    line-height: 26px;

    float: left;

    width: 118px;
    height: 26px;
    margin-top: 21px;
    margin-left: 11px;

    opacity: .7;
    color: #a7b0b6;
    border-radius: 5px;
}
.choose_lang::-ms-expand
{
    display: none;
}
.header_menu
{
    float: left;

    padding-left: 13px;
}
.item_menu
{
    line-height: 67px;

    float: left;

    padding-right: 26px;
    padding-left: 27px;
}

.item_link
{
    font-family: 'titillium_bdbold';
    font-size: 16px;
    line-height: 65px;

    display: block;

    width: 100%;
    height: 100%;

    text-transform: uppercase;

    color: #807e7e;
}
.item_menu:hover,
.menu_active
{
	line-height: 67px;
    background: #e74710;
}
.item_menu:hover .item_link,
.menu_active .item_link
{
    color: #fff;
}
.header_title
{
    font-family: 'titillium_bdbold';
    font-size: 60px;

    padding-top: 64px;

    text-align: center;

    color: #000;
}
.form_data
{
    width: 100%;
    max-width: 1011px;
    margin: 0 auto;
    padding-top: 49px;
}
.form_inner
{
    height: auto;
    padding-bottom: 47px;
}
.location label,
.pick_data .start_title
{
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
}
.location
{
    float: left;

    width: 494px;
}
.location .city_loc
{
    line-height: 43px;

    width: 494px;
    height: 43px;
    padding-left: 11px;

    border: 1px solid #c1bab6;
}
.checkbox
{
    float: left;

    width: 18px;
    height: 18px;
    margin-top: 4px;

    border: 1px solid #c1bab6;
}
.location .label_checkbox
{
    font-size: 15px;
    font-weight: normal !important;

    padding-left: 8px;

    color: #007ed6;
}
.location_help
{
    float: right;

    margin-top: 5px;
    margin-right: 4px;
}
.pick_data
{
    float: left;

    width: 240px;
    margin-left: 17px;
}
.form_button
{
    font-family: 'titillium_bdbold';
    font-size: 30px;

    display: block;

    width: 356px;
    height: 62px;
    margin: 0 auto;

    cursor: pointer;

    color: #fff;
    border-radius: 0 !important;
    background: #007ed6 !important;
    -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.3) ;
            box-shadow: 0 0 13px 0 rgba(0,0,0,.3) ;
}
.site_container
{
    width: 100%;
}
.site_container_inner
{
    width: 100%;
    max-width: 1206px;
    margin: 0 auto;
    padding-bottom: 87px;

    background: #fff;
    -webkit-box-shadow: 1px 5px 9px 0 rgba(0,0,0,.4) ;
            box-shadow: 1px 5px 9px 0 rgba(0,0,0,.4) ;
}
.main_banner
{
    width: 100%;
    max-width: 1008px;
    height: auto;
    margin: 0 auto;

    background: #d9d6d6;
}
.banner_right
{
    float: right;
    overflow: hidden;

    width: 396px;
    height: 241px;
}
.banner_right img
{
    width: 396px;
    height: 241px;
}
.banner_left
{
    float: right;

    padding-top: 28px;
    padding-right: 16px;
}
.banner_title
{
    font-family: 'titillium_bdbold';
    font-size: 40px;
    line-height: 50px;

    text-align: right;
    text-transform: uppercase;

    color: #828282;
}
.banner_price
{
    font-family: 'titillium_bdbold';
    font-size: 40px;
    line-height: 50px;

    text-align: right;
    text-transform: uppercase;

    color: #e74710;
}
.banner_about
{
    font-family: 'titilliumlight';
    font-size: 16px;
    line-height: 18px;

    padding-top: 12px;

    text-align: right;
    text-transform: uppercase;
    word-wrap: break-word;

    color: #000;
}
.bunner_button
{
    font-family: 'titillium_bdbold';
    font-size: 16px;
    line-height: 41px;

    float: right;

    width: 167px;
    height: 41px;
    margin-top: 20px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background: #007ed6;
    -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.3) ;
            box-shadow: 0 0 13px 0 rgba(0,0,0,.3) ;
}
.footer_inner
{
    width: 100%;
    max-width: 1009px;
    margin: 0 auto;
    padding-top: 70px;

    border-bottom: 5px solid #e74710;
}
.footer_first
{
    float: left;

    padding-bottom: 32px;

    border-bottom: 1px solid #d9d6d6;
}
.footer_first_countries,
.footer_first_worldwide,
.footer_first_links
{
    float: left;
}
.column
{
    float: left;
}
.column_title
{
    font-family: 'Arial';
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;

    padding-bottom: 10px;

    color: #000;
}
.column_item_link
{
    font-family: 'Arial';
    font-size: 14px;
    line-height: 30px;

    color: #9b9492;
}
.footer_first_countries
{
    margin-right: 66px;
}
.footer_first_countries .column
{
    margin-right: 82px;
}
.footer_first_worldwide
{
    margin-right: 15px;
}
.footer_first_worldwide .column
{
    margin-right: 82px;
}
.footer_first_links .column_title
{
    padding-bottom: 18px;
}
.col1
{
    margin-right: 53px;
}
.footer_two
{
    float: left;

    width: 100%;
    height: 50px;
}
.footer_two p
{
    font-family: 'Arial';
    font-size: 14px;
    line-height: 50px;

    width: 100%;

    text-align: center;
}
.footer_two p a
{
    margin-right: 5px;
    margin-left: 5px;

    color: #9b9492;
}

/*==============================================================*/

.special
{
    max-width: 1010px;
    margin: 0 auto;
}
.special .header_title
{
    font-size: 36px;

    float: left;

    padding-top: 51px;
}
.special .form_data
{
    float: left;

    max-width: 1010px;
}
.special .pick_data
{
    width: 134px;
}
.pick_data2
{
    margin-left: 8px;
    padding-top: 28px;
}
.button_find
{
    font-size: 25px;

    float: right;

    width: 202px;
    height: 43px;
    margin-top: 29px;
}
.offers
{
    max-width: 1009px;
    margin: 0 auto;
    padding-top: 40px;
}
.offers_inner
{
    margin-bottom: 28px;
    padding-bottom: 10px;

    border-bottom: 1px solid #d9d6d6;
}
.offer
{
    float: left;

    width: 490px;
    margin-right: 29px;
    margin-bottom: 23px;
    padding: 10px;
    padding-left: 19px;

    background: #f4f4f4;
}
.offer:nth-child(2n+2)
{
    margin-right: 0;
}
.offer:hover
{
    background: #e74710;
    -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.3);
            box-shadow: 0 0 13px 0 rgba(0,0,0,.3);
}
.offer:hover .offer_title,
.offer:hover .offer_about
{
    color: #fff;
}
.offer img
{
    float: right;

    width: 149px;
}
.offer_title
{
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;

    color: #e74710;
}
.offer_about
{
    font-family: 'Arial';
    font-size: 14px;
    line-height: 18px;

    color: #656363;
}
.nav_btn
{
    font-family: 'Arial';
    font-size: 14px;
    line-height: 38px;

    float: left;

    width: 38px;
    height: 38px;
    margin-right: 7px;

    text-align: center;

    background: #f4f4f4;
}
.offers_navigation
{
    padding-left: 25px;
}
.nav_btn_prev
{
    background: #f4f4f4 url(../img/sprite.png) no-repeat 13px -466px;
}
.nav_btn_next
{
    background: #f4f4f4 url(../img/sprite.png) no-repeat 16px -505px;
}
.btn_active
{
    color: #fff;
    background: #e74710;
}
.footer_inner_offers
{
    padding-top: 45px;
}
/*=====================================================================================*/

.cars_filter
{
    max-width: 1009px;
    height: auto;
    margin: 0 auto;

    border: 1px solid #dbdbdb;
    background: #f0efef;
}
.cars_title
{
    font-family: 'titillium_bdbold';
    font-size: 24px;
    line-height: 54px;

    float: left;

    width: 188px;
    padding-left: 13px;
}
.cars_wrapper
{
    padding-top: 36px;
}
.cars_menu
{
    position: relative;

    float: right;

    width: 536px;
}
.cars_menu_item
{
    line-height: 54px;

    float: left;

    width: 134px;

    text-align: center;

    border-left: 1px solid #dbdbdb;
}
.cars_link
{
    font-family: 'Arial';
    font-size: 15px;

    display: block;

    width: 134px;
    height: 54px;

    color: #007ed6;
}
.all
{
    position: absolute;
    top: 0;
    left: 0;
}
.cars_menu_item:hover .cars_link
{
    color: #000;
}
.all:hover,
.all_active
{
    top: -4px;

    padding-top: 4px;
    padding-bottom: 4px;

    border: 1px solid #dbdbdb;
    background: #fff;
}
.small
{
    position: absolute;
    top: 0;
    left: 134px;
}
.small:hover,
.small_active
{
    top: -4px;

    padding-top: 4px;
    padding-bottom: 4px;

    border: 1px solid #dbdbdb;
    background: #fff;
}
.medium
{
    position: absolute;
    top: 0;
    left: 268px;
}
.medium:hover,
.medium_active
{
    top: -4px;

    padding-top: 4px;
    padding-bottom: 4px;

    border: 1px solid #dbdbdb;
    background: #fff;
}
.large
{
    position: absolute;
    top: 0;
    left: 402px;
}
.large:hover,
.large_active
{
    top: -4px;

    padding-top: 4px;
    padding-bottom: 4px;

    border: 1px solid #dbdbdb;
    background: #fff;
}
.cars_price
{
    max-width: 1009px;
    margin: 0 auto;
    padding-top: 46px;
}
.cars_prise_inner
{
    margin-bottom: 20px;

    border-bottom: 1px solid #d9d6d6;
}
.price_item_title
{
    font-family: 'titillium_bdbold';
    font-size: 16px;
    line-height: 41px;

    padding-left: 25px;

    text-transform: uppercase;

    color: #e74710;
    background: #edeaea;
}
.price_item_pic
{
    float: left;
    overflow: hidden;

    width: 185px;
    height: 139px;
    margin-left: 32px;
}
.price_item_info
{
    float: left;

    width: 206px;
    margin-left: 58px;
}
.price_item_info h2
{
    font-family: 'Arial';
    font-size: 14px;
    font-weight: bold;

    margin-top: 32px;
    margin-bottom: 40px;

    color: #585656;
}
.price_item_description
{
    padding-left: 30px;
}
.price_item_link
{
    font-family: 'Arial';
    font-size: 12px;
    line-height: 18px;

    color: #007ed6;
}
.item_info_item:last-child
{
    padding-right: 0;
}
.cars_price_buy
{
    float: left;

    margin-left: 175px;
    padding-top: 30px;
}
.available
{
    font-family: 'Arial';
    font-size: 14px;
    line-height: 18px;

    color: #c0bcbc;
}
.buy_cost
{
    font-family: 'Arial';
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;

    margin-top: 15px;
    margin-bottom: 10px;

    color: #585656;
}
.buy_cost span
{
    font-size: 20px;

    color: #000;
}
.book_now
{
    font-family: 'titillium_bdbold';
    font-size: 19px;
    line-height: 44px;

    display: block;

    width: 205px;
    height: 44px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background: #007ed6;
    -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.3);
            box-shadow: 0 0 13px 0 rgba(0,0,0,.3);
}
.cars_price_item
{
    padding-bottom: 59px;
}
/*======================================================================*/
.about_wrapper,
.contact_inner,
.location_wrapper
{
    max-width: 1009px;
    margin: 0 auto;
}
.about_left
{
    float: left;

    width: 68%;
}
.about_left .header_title
{
    font-size: 36px;

    padding-top: 48px;
    padding-bottom: 26px;

    text-align: left;
}
.about_picture
{
    overflow: hidden;

    width: 100%;
    height: auto;
}
.about_subtitle
{
    font-family: 'Arial';
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;

    margin-top: 28px;
    margin-bottom: 26px;

    color: #535454;
}
.about_paragraph
{
    font-family: 'Arial';
    font-size: 14px;
    line-height: 26px;

    padding-bottom: 26px;

    color: #9b9492;
}
.about_paragraph a
{
    color: #007ed6;
}
.about_right
{
    float: right;

    max-width: 283px;
}
.item_car
{
    position: relative;

    height: 455px;
    margin-top: 120px;
    margin-right: 10px;
    margin-left: 22px;
    padding-top: 44px;

    -webkit-box-shadow: 0 0 0 14px rgba(226,225,225,.51) ;
            box-shadow: 0 0 0 14px rgba(226,225,225,.51) ;
}
.item_car_title
{
    font-family: 'titillium_bdbold';
    font-size: 18px;

    text-align: center;
    text-transform: uppercase;

    color: #494747;
}
.item_car_price
{
    font-family: 'titillium_bdbold';
    font-size: 36px;
    line-height: 54px;

    text-align: center;
    text-transform: uppercase;

    color: #e74710;
}
.item_cartext
{
    font-family: 'titilliumlight';
    font-size: 14px;
    line-height: 20px;

    padding-top: 12px;
    padding-bottom: 9px;

    text-align: center;
    text-transform: uppercase;

    color: #000;
}
.item_car_button
{
    font-family: 'titillium_bdbold';
    font-size: 16px;
    line-height: 41px;

    display: block;

    width: 167px;
    height: 41px;
    margin: 0 auto;
    margin-top: 20px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background: #007ed6;
    -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.3);
            box-shadow: 0 0 13px 0 rgba(0,0,0,.3);
}
.item_car_img
{
    position: absolute;
    left: -13px;

    float: left;

    margin-top: 10px;
}
.item_car_opasity
{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 13px;

    width: 251px;
    height: 178px;

    opacity: .4;
    background: #000;
}
.item_car_more
{
    font-family: 'Arial';
    font-size: 14px;

    position: absolute;
    bottom: 7px;
    left: 72px;

    display: block;

    color: #007ed6;
}
.subscribe
{
    float: right;

    max-width: 100%;
    height: auto;
    margin-top: 54px;
    margin-left: 13px;
    padding-top: 27px;
    padding-right: 13px;
    padding-bottom: 20px;
    padding-left: 6px;

    background: #f2f1f1;
    -webkit-box-shadow: 0 0 0 5px  #f2f1f1 ;
            box-shadow: 0 0 0 5px  #f2f1f1 ;
}
.subscribe_title
{
    font-family: 'titillium_bdbold';
    font-size: 16px;

    padding-bottom: 23px;

    text-transform: uppercase;
}
.subscribe_name
{
    font-family: 'Arial';
    font-size: 14px;

    width: 100%;
    margin-bottom: 13px;
    padding-top: 14px;
    padding-bottom: 11px;
    padding-left: 12px;

    color: #000;
    border: 1px solid #a8a7a7;
}
.subscribe_button
{
    font-family: 'titillium_bdbold';
    font-size: 16px;
    line-height: 41px;

    display: block;

    width: 167px;
    height: 41px;
    margin-top: 4px;
    margin-left: 3px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background: #007ed6;
    -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.3);
            box-shadow: 0 0 13px 0 rgba(0,0,0,.3);
}

/*=======================================================*/
.contact_left
{
    float: left;

    width: 73%;
    padding-right: 44px;
}
.contact_left .header_title
{
    font-size: 36px;

    padding-top: 48px;
    padding-bottom: 17px;

    text-align: left;
}
.contact_text
{
    font-family: 'Arial';
    font-size: 14px;
    line-height: 26px;

    color: #9b9492;
}
.contact_form
{
    float: left;

    width: 494px;
    padding-top: 47px;
}
.contact_form label
{
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    line-height: 35px;

    color: #303438;
}
.contact_form input
{
    line-height: 43px;

    width: 100%;
    height: 43px;
    margin-bottom: 27px;
    padding-left: 10px;

	font-family: 'Arial';
    font-size: 16px;
    color: #303438;
    border: 1px solid #dfdddc;
}
.contact_form textarea
{
    width: 100%;
    height: 174px;

    resize: none;

    border: 1px solid #dfdddc;
}
.contact_form .contact_form_btn
{
    font-family: 'titillium_bdbold';
    font-size: 16px;

    display: block;

    width: 167px;
    height: 41px;
    margin-top: 18px;

    cursor: pointer;
    text-transform: uppercase;

    color: #fff;
    border-radius: 0 !important;
    background: #007ed6 !important;
    -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.3);
            box-shadow: 0 0 13px 0 rgba(0,0,0,.3);
}
.contact_right
{
    float: left;

    width: 272px;
    margin-top: 52px;
    padding-top: 28px;
    padding-right: 12px;
    padding-bottom: 18px;
    padding-left: 14px;

    background: #f2f1f1;
}
.contact_right_title
{
    font-family: 'titillium_bdbold';
    font-size: 16px;

    padding-bottom: 26px;

    text-transform: uppercase;

    color: #000;
}
.contact_right_numbers
{
    line-height: 40px;

    width: 251px;
    height: 40px;
    margin-bottom: 8px;
    padding-right: 12px;
    padding-left: 7px;

    background: #fff;
    -webkit-box-shadow: 0 0 5px 5px #ececeb ;
            box-shadow: 0 0 5px 5px #ececeb ;
}
.right_numbers_title
{
    font-family: 'Arial';
    font-size: 14px;

    float: left;

    color: #000;
}
.contact_right_numbers span
{
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;

    float: right;

    color: #e74710;
}
/*================================================*/
.location_title
{
    font-family: 'titillium_bdbold';
    font-size: 36px;

    padding-top: 49px;
    padding-bottom: 20px;
}
ul.tabs
{
    position: relative;

    width: 100%;
    height: auto;

    background: #f3f3f3;
}
ul.tabs li
{
    font-family: 'Arial';
    font-size: 16px;
    line-height: 54px;

    position: absolute;

    float: left;

    height: 54px;

    cursor: pointer;

    color: #007ed6;
    border: 1px solid #d8d8d8;
    background: #f3f3f3;
}
.tab1
{
    top: 0;
    left: 0;

    padding-right: 47px;
    padding-left: 40px;
}
.tab2
{
    top: 0;
    left: 203px;

    padding-right: 12px;
    padding-left: 14px;
}
.tab3
{
    top: 0;
    left: 406px;

    padding-right: 17px;
    padding-left: 16px;
}
.tab4
{
    top: 0;
    left: 480px;

    padding-right: 8px;
    padding-left: 19px;
}
.tab5
{
    top: 0;
    left: 599px;

    padding-right: 12px;
    padding-left: 10px;
}
.tab6
{
    top: 0;
    left: 695px;

    padding-right: 16px;
    padding-left: 14px;
}
.tab7
{
    top: 0;
    left: 809px;

    padding-right: 13px;
    padding-left: 17px;
}
.tabs li.current,
ul.tabs li:hover
{
    line-height: 62px;

    top: -4px;

    height: 62px;

    color: #000;
    background: #fff;
}
.tab-content
{
    display: none;

    margin-top: 102px;
    padding-top: 36px;
    padding-bottom: 35px;
    padding-left: 26px;

    background: #f4f4f4;
}
.tab-content.current
{
    display: inherit;
}
.content_title
{
    font-family: 'Arial';
    font-size: 14px;

    padding-bottom: 50px;

    color: #363434;
}
.countries
{
    /*width: 374px;*/
    height: auto;
}
.countries .tabs2
{
    position: static;

    float: left;
    overflow-y: scroll;

    width: 374px;
    height: 330px;
    margin-top: 60px;
}
.countries .tab-link2
{
    font-family: 'Arial';
    font-size: 14px;
    font-weight: bold;
    line-height: 42px;

    position: static;

    float: none;

    width: 94%;
    height: 42px;
    margin-bottom: 6px;
    padding-left: 20px;

    cursor: pointer;

    color: #e74710;
    border: 0;
    background: #fff;
}
/*.countries .tab-link span {
	display: block;
	background: url(../img/sprite.png)  no-repeat 0 -600px;
	width: 6px;
	height: 11px;
	right: 1px;
	top: 10px;
}*/
.countries .tabs2 .current2,
.countries .tabs2 .tab-link2:hover
{
    line-height: 42px;

    height: 42px;
    padding-top: 0;
    padding-bottom: 0;

    color: #fff;
    background: #e74710 ;
}
/*.countries .tab-link span:before  .countries .tabs .tab-link:hover  {
	position: absolute;
	content: '';
	background: url(../img/sprite.png)  no-repeat 0 -600px;
	top: 10px;
	right: -50px;
	width: 6px;
	height: 11px;
}*/

.countries .tab-content2
{
    top: 0;
    right: 0;

    display: none;
    /*width: 575px;*/

    height: auto;
}

.content_inner
{
    position: relative;
}
.tab-content2.current2
{
    display: inherit;
}
/*===========================================================================*/
.cities
{
    /*float: left;*/
    width: 600px;
    padding-top: 54px;
    padding-left: 35px;

    -webkit-column-count: 3;
         -o-column-count: 3;
            column-count: 3;
}

.city,
.city_link
{
    font-family: 'Arial';
    font-size: 14px;
    line-height: 28px;

    width: auto;
    height: 28px;

    color: #007ed6;
}

.splitter
{
    position: absolute;
    top: 56px;
    left: 6px;

    width: 342px;
}

.cat-item
{
    float: left;

    padding-right: 15px;
    padding-bottom: 12px;
}

.cat-item_link
{
    font-family: 'Arial';
    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;

    color: #007ed6;
}

/*==========================================*/
/*#ascrail2000 {
	display: block !important;
	opacity: 1 !important;
}*/
.nicescroll-cursors {
	width: 12px !important;
	height: 106px !important;
	background: #e2dede !important;
}